/*Insert stylesheet "style.css"?*/
/*------------------------- Header -------------------------*/
.header {
  height:131px;
  overflow:hidden;
  position:relative;
}
.header a#logo {
  left:0;
  position:absolute;
  top:0;
}
.header div {
  float:right;
  margin:0;
  overflow:hidden;
  width:816px;
}
.header div div:first-child {
  background:none;
  float:right;
  height:auto;
  padding:13px 48px 10px 0;
  width:auto;
}
.header div div:first-child a {
  color:#134067;
  font-size:12px;
  line-height:24px;
  text-decoration:none;
  text-shadow:0 1px 0 #fde9c3;
}
.header div div:first-child span {
  color:#134067;
  display:inline-block;
  font-size:12px;
  line-height:24px;
  padding:0 8px;
  text-shadow:0 1px 0 #fde9c3;
}
.header div div {
  background:url(../images/bg-nav.png) no-repeat;
  float:none;
  height:63px;
  overflow:hidden;
}
.header div div ul {
  float:left;
  list-style:none;
  margin:0;
  overflow:hidden;
  padding:12px 0 0 60px;
}
.header div div ul li:first-child {
  margin:0;
}
.header div div ul li {
  float:left;
  height:24px;
  margin:0 0 0 12px;
  padding:0 0 0 3px;
}
.header div div ul li.selected {
  background:url(../images/bg-nav-left.jpg) no-repeat left top;
}
.header div div ul li a {
  color:#725a2b;
  display:block;
  font-size:14px;
  height:24px;
  line-height:24px;
  padding:0 2px 0 0;
  text-decoration:none;
}
.header div div ul li a span {
  display:block;
  padding:0 22px;
}
.header div div ul li.selected a span {
  background:url(../images/bg-nav-mid.jpg) repeat-x left top;
}
.header div div ul li.selected a {
  background:url(../images/bg-nav-right.jpg) no-repeat right top;
  color:#164372;
  text-shadow:0 1px 0 #fff;
}
.header div div ul li a:hover {
  color:#164372;
  text-shadow:0 1px 0 #fff;
}
.header div div form {
  float:left;
  margin:0 0 0 36px;
  overflow:hidden;
  padding:12px 0 0;
}
.header div div form input:first-child {
  background:url(../images/bg-search.jpg) no-repeat;
  border:0;
  color:#ebcc90;
  float:left;
  font-family:inherit;
  font-size:12px;
  height:22px;
  line-height:21px;
  margin:0 12px 0 0;
  padding:2px 5px 0;
  width:158px;
  cursor:text;
}
.header div div form input:first-child:hover {
  background:url(../images/bg-search.jpg) no-repeat;
}
.header div div form input {
  background:url(../images/buttons.png) no-repeat;
  border:0;
  cursor:pointer;
  float:left;
  height:24px;
  padding:0;
  width:72px;
}
.header div div form input:hover {
  background:url(../images/buttons.png) no-repeat 0 -134px;
}

/*------------------------- Footer -------------------------*/
.footer {
  
  padding:0 0 16px;
}
.contactfooter{
  width:960px;
  margin:-80px auto;
}
.footer div {
  
  padding:0 0 8px;
}
.footer div div {
  background:none #fff;
  height:47px;
  padding:0;
}
.footer div div ul {
  float:left;
  list-style:none;
  margin:10px 135px 0 35px;
  overflow:hidden;
  padding:0;
}
.footer div div ul li:first-child {
  background:none;
  margin:0;
  padding:0 8px 0 0;
}
.footer div div ul li {
  background:url(../images/border-footer-nav.png) no-repeat left 8px;
  float:left;
  padding:0 8px;
}
.footer div div ul li a {
  color:#246ea5;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:12px;
  text-decoration:none;
}
.footer div div ul li a:hover {
  text-decoration:none;
}
.footer div div p {
  color:#a9b1b9;
  float:left;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:10px;
  line-height:16px;
  margin:15px 0 0;
}

.copyright
{
  padding-left: 20%;
}

.footer div div div.connect {
  float:left;
  height:auto;
  margin:13px 0 0 65px;
  overflow:hidden;
}
.footer div div div.connect a#twitter {
  background:url(../images/icons.png) no-repeat;
  display:block;
  float:left;
  height:18px;
  text-indent:-99999px;
  width:23px;
}
.footer div div div.connect a#fb {
  background:url(../images/icons.png) no-repeat 0 -19px;
  display:block;
  float:left;
  height:19px;
  margin:0 37px 0 44px;
  text-indent:-99999px;
  width:19px;
}
.footer div div div.connect a#googleplus {
  background:url(../images/icons.png) no-repeat 0 -59px;
  display:block;
  float:left;
  height:19px;
  margin:0 37px 0 44px;
  text-indent:-99999px;
  width:19px;
}
.footer div div div.connect a#vimeo {
  background:url(../images/icons.png) no-repeat 0 -39px;
  display:block;
  float:left;
  height:19px;
  text-indent:-99999px;
  width:22px;
}

.map{
  box-shadow:none;
  max-width:100%;
  margin-left:80px;
}

/* "Form" Template */
body
{
  background:url(../images/bg-body.jpg);
}

#registration-form 
{
  font-family:'Open Sans Condensed', sans-serif;
  width: 35%;
  min-width:250px;
  margin: 20px auto;
  position: relative;
}

#registration-form .fieldset 
{
  background-color:#d5d5d5;

  border-radius: 3px;
  
}

 #registration-form legend 
{
  text-align: center;
  background: #364351;
  width: 100%;
  padding: 30px 0;
  border-radius: 3px 3px 0 0;
  color: white;
font-size:2em;
}

.fieldset form{
  border:1px solid #2f2f2f;
  margin:0 auto;
  display:block;
  width:100%;
  padding:30px 20px;
  box-sizing:border-box;
  border-radius:0 0 3px 3px;
}
.placeholder #registration-form label {
  display: none;
}
 .no-placeholder #registration-form label{
margin-left:5px;
  position:relative;
  display:block;
  color:grey;
  text-shadow:0 1px white;
  font-weight:bold;
}
/* all */
::-webkit-input-placeholder { text-shadow:1px 1px 1px white; font-weight:bold; }
::-moz-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* firefox 19+ */
:-ms-input-placeholder { text-shadow:0 1px 1px white; font-weight:bold; } /* ie */
#registration-form input[type=text] {
  padding: 15px 20px;
  border-radius: 1px;
  margin:5px auto;
  background-color:#f7f7f7;
  border: 1px solid silver;

  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 5px rgba(0,0,0,0.2), 0 1px rgba(255,255,255,.8);
  width: 100%;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition:background-color .5s ease;
-moz-transition:background-color .5s ease;
-o-transition:background-color .5s ease;
-ms-transition:background-color .5s ease;
transition:background-color .5s ease;
}
.no-placeholder #registration-form input[type=text] 
{
  padding: 10px 20px;
}

#registration-form input[type=text]:active, .placeholder #registration-form input[type=text]:focus 
{
  outline: none;
  border-color: silver;
  background-color:white;
}

#registration-form input[type=submit] 
{
  font-family:'Open Sans Condensed', sans-serif;
  text-transform:uppercase;
  outline:none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #5C8CA7;
  padding: 10px;
  color: white;
  border: 1px solid #3498db;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position:relative;
  top:0;
}

#registration-form input[type=submit]:hover 
{
  background-color: #2980b9;
}

#registration-form input[type=submit]:active 
{
background:#5C8CA7;
}

.center
{
  text-align: center;
}

a:visited
{
  color: black;
}

.parsley-error-list
{
background-color:#C34343;
padding: 5px 11px;
margin: 0;
list-style: none;
border-radius: 0 0 3px 3px;
margin-top:-5px;
  margin-bottom:5px;
  color:white;
  border:1px solid #870d0d;
  border-top:none;
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position:relative;
  top:-1px;
  text-shadow:0px 1px 1px #460909;
    font-weight:700;
  font-size:12px;
}
.parsley-error{
  border-color:#870d0d!important;
  border-bottom:none;
}
#registration-form select{
  width:100%;
  padding:5px;
}
::-moz-focus-inner {
  border: 0;
}
